<div class="m-3 p-2 flex flex-col justify-items-center items-center rounded-sm">
  <form class="w-full">
    <h2 class="text-gray-950 text-xl font-extrabold mb-3">Generated Dynamic Form</h2>
    @for (control of controls(); track control.id) {
    @let label = control.label || 'Enter a label for this field';
    @let placeholder = control.placeholder;

    <div class="w-full mb-3">
      <!-- text or number field types -->
      @if (control.type === 'text' || control.type === 'email' || control.type === 'password' || control.type === 'url')
      {
      <ui-input [label]="label" [placeholder]="placeholder" [formField]="getField(control)"
        [type]="control.type"></ui-input>
      }
      @if (control.type === 'number') {
      <ui-number [label]="label" [placeholder]="placeholder" [formField]="getField(control)"></ui-number>
      }
      @if (control.type === 'select') {
      <ui-select [label]="label" [placeholder]="placeholder" [formField]="getField(control)"
        [options]="control.options"></ui-select>
      }
    </div>
    }

    <div class="w-full flex my-3">
      <button type="button"
        class="ms-auto p-2 text-white font-semibold bg-black hover:bg-gray-900 focus:bg-gray-900 rounded-sm"
        (click)="submit()" [disabled]="form().submitting()">Submit</button>
    </div>
  </form>

  <pre
    class="w-full h-full rounded-sm bg-gray-950 text-white p-2 text-sm font-mono overflow-auto max-h-96">{{ formState() | json }}</pre>
</div>