<div class="flex">
  <div class="w-1/2">
    <div class="m-3 p-2 flex flex-col justify-items-center items-center rounded-sm">
      <form class="w-full">
        <h2 class="text-gray-950 text-xl font-extrabold mb-3">Dynamic Form Fields</h2>
        @for (control of controls(); track control.id) {
        @let field = controlFieldById().get(control.id);

        @if (field) {
        <div class="flex gap-1">
          <!-- <div class="basis-auto h-10 mb-3 self-end flex justify-items-center items-center">
                <i class="text-xl bi bi-grip-vertical"></i>
              </div> -->
          <!-- <div class="w-1/4 mb-3 flex flex-col gap-1">
            <label for="fieldType" class="font-medium">Type</label>
            <input id="fieldType" class="w-full h-10 rounded-sm border-2 border-gray-200 p-2" type="text"
              [field]="field.type" />
          </div> -->

          <div class="w-1/4 mb-3">
            <ui-select [label]="'Type'" [placeholder]="'Test'" [field]="field.type" [options]="typeOptions()" />
          </div>

          <div class="w-1/4 mb-3 flex flex-col gap-1">
            <ui-text [label]="'Name'" [placeholder]="'Test'" [field]="field.name" />
          </div>

          <div class="w-1/4 mb-3 flex flex-col gap-1">
            <ui-text [label]="'Label'" [placeholder]="'Test'" [field]="field.label!" />
          </div>

          <!-- text or number field types -->
          @if (castValueToTypes(['text', 'number'], field); as valueField) {
          <div class="w-1/4 mb-3 flex flex-col gap-1">
            <label for="fieldValue" class="font-medium">Value</label>
            <input id="fieldValue" class="w-full h-10 rounded-sm border-2 border-gray-200 p-2" [type]="control.type"
              [field]="valueField" />
          </div>
          }
          <!-- field value placeholder -->
          @else {
          <div class="w-1/4 mb-3 flex flex-col gap-1">
            <label for="fieldValue" class="font-medium">Value</label>
            <input id="fieldValue" class="w-full h-10 rounded-sm border-2 border-gray-200 p-2" disabled />
          </div>
          }

          <div class="flex-none h-10 w-10 self-end mb-3 flex justify-items-center items-center">
            <button type="button"
              class="w-full h-full text-gray-200 hover:text-white focus:text-white font-semibold bg-white hover:bg-red-600 focus:bg-red-600 border-2 border-gray-200 rounded-sm"
              (click)="removeField(control.id)">
              <i class="text-lg bi bi-trash3-fill"></i>
            </button>
          </div>
        </div>
        }
        }

        <div class="w-full flex my-3">
          <button type="button"
            class="ms-auto p-2 text-white font-semibold bg-black hover:bg-gray-900 focus:bg-gray-900 rounded-sm"
            (click)="addField()">
            <i class="bi bi-plus-lg"></i> New Field
          </button>
        </div>
      </form>

      <pre
        class="w-full h-full rounded-sm bg-gray-950 text-white p-2 text-sm font-mono overflow-auto max-h-96">{{ controls() | json }}</pre>
    </div>
  </div>

  <div class="w-1/2">
    <div class="m-3 p-2 flex flex-col justify-items-center items-center rounded-sm">
      <form class="w-full">
        <h2 class="text-gray-950 text-xl font-extrabold mb-3">Generated Dynamic Form</h2>
        @for (control of controls(); track control.id) {
        <div class="flex">
          <div class="mb-3 min-w-80 w-full flex flex-col gap-1">
            @if (control.type === 'text' || control.type === 'number') {
            <label class="font-medium">
              <span [class.text-gray-300]="!control.label">{{ control.label || 'Enter a label for this field' }}</span>
            </label>
            <input class="w-full h-10 rounded-sm border-2 border-gray-200 p-2" [type]="control.type"
              [field]="getField(control)" />
            }
          </div>
        </div>
        }

        <div class="w-full flex my-3">
          <button type="button"
            class="ms-auto p-2 text-white font-semibold bg-black hover:bg-gray-900 focus:bg-gray-900 rounded-sm"
            (click)="submit()" [disabled]="form().submitting()">Submit</button>
        </div>
      </form>

      <pre
        class="w-full h-full rounded-sm bg-gray-950 text-white p-2 text-sm font-mono overflow-auto max-h-96">{{ formControls() | json }}</pre>
    </div>
  </div>
</div>