<div class="flex">
  <div class="w-1/2">
    <div class="m-3 p-2 flex flex-col justify-items-center items-center rounded-sm">
      <form class="w-full">
        <h2 class="text-gray-950 text-xl font-extrabold mb-3">Dynamic Form Fields</h2>
        @for (control of controls(); track control.id) {
        @let field = controlFieldById().get(control.id);

        @if (field) {
        <div class="flex gap-1">
          <div class="w-1/4 mb-3">
            <ui-select [label]="'Type'" [placeholder]="'Test'" [field]="field.type" [options]="typeOptions()" />
          </div>

          <div class="w-1/4 mb-3">
            <ui-text [label]="'Name'" [placeholder]="'Test'" [field]="field.name" />
          </div>

          <div class="w-1/4 mb-3">
            <ui-text [label]="'Label'" [placeholder]="'Test'" [field]="field.label!" />
          </div>

          <div class="w-1/4 mb-3">
            <!-- text or number field types -->
            @if (castControlToType('text', field); as textField) {
            <ui-text [label]="'Value'" [placeholder]="'Enter a default value'" [field]="textField"></ui-text>
            }
            @if (castControlToType('number', field); as numberField) {
            <ui-number [label]="'Value'" [placeholder]="'Enter a default value'" [field]="numberField"></ui-number>
            }
          </div>

          <div class="flex-none w-10 mb-3 flex flex-col gap-1">
            <div class="w-full h-5"></div>
            <button type="button"
              class="w-full h-10 text-gray-200 hover:text-white focus:text-white font-semibold bg-white hover:bg-red-600 focus:bg-red-600 border-2 border-gray-200 rounded-sm"
              (click)="removeField(control.id)">
              <i class="text-lg bi bi-trash3-fill"></i>
            </button>
          </div>
        </div>
        }
        }

        <div class="w-full flex my-3">
          <button type="button"
            class="ms-auto p-2 text-white font-semibold bg-black hover:bg-gray-900 focus:bg-gray-900 rounded-sm"
            (click)="addField()">
            <i class="bi bi-plus-lg"></i> New Field
          </button>
        </div>
      </form>

      <pre
        class="w-full h-full rounded-sm bg-gray-950 text-white p-2 text-sm font-mono overflow-auto max-h-96">{{ controls() | json }}</pre>
    </div>
  </div>

  <div class="w-1/2">
    <div class="m-3 p-2 flex flex-col justify-items-center items-center rounded-sm">
      <form class="w-full">
        <h2 class="text-gray-950 text-xl font-extrabold mb-3">Generated Dynamic Form</h2>
        @for (control of controls(); track control.id) {
        <div class="w-full mb-3">
          <!-- text or number field types -->
          @if (control.type === 'text') {
          <ui-text [label]="control.label || 'Enter a label for this field'" [placeholder]="control.placeholder"
            [field]="getField(control)"></ui-text>
          }
          @if (control.type === 'number') {
          <ui-number [label]="control.label || 'Enter a label for this field'" [placeholder]="control.placeholder"
            [field]="getField(control)"></ui-number>
          }
        </div>
        }

        <div class="w-full flex my-3">
          <button type="button"
            class="ms-auto p-2 text-white font-semibold bg-black hover:bg-gray-900 focus:bg-gray-900 rounded-sm"
            (click)="submit()" [disabled]="form().submitting()">Submit</button>
        </div>
      </form>

      <pre
        class="w-full h-full rounded-sm bg-gray-950 text-white p-2 text-sm font-mono overflow-auto max-h-96">{{ formControls() | json }}</pre>
    </div>
  </div>
</div>